[Desktop Entry]
Encoding=UTF-8
Version=0.1.20
Type=Application
Name=BarrioSquare
Comment=Connect to Foursquare
Exec=/opt/barrioSquare/barriosq
Icon=barrioSquare
X-Window-Icon=FBReader
X-Window-Icon-Dimmed=FBReader
#X-Osso-Service=BarrioSquare
X-Osso-Type=application/x-executable

