[Desktop Entry]
Encoding=UTF-8
Version=0.1.0
Type=Application
Terminal=false
Name=barrioSquare
Exec=/opt/barrioSquare/barriosq
Icon=barrioSquare                        
#X-Window-Icon=timerwidget
X-Window-Icon=barrioSquare64
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

